*{
    box-sizing: border-box;padding: 0;margin: 0;
    background-color: #D9CDF7;color: #271A45;

    font-family: 'Lato', sans-serif;font-weight: 400;
}

section{
    display: flex;justify-content:flex-start;margin: 6rem auto;
    @media screen and (max-width: 400px) {flex-direction: column;}

    .image{
        width: 41rem;align-items: center;margin:auto;
        @media screen and (max-width: 400px) {width: 80vw;}
        
        img{width: 100%;}
    }

    .text{
        width: 28rem;margin:auto;display: flex;gap: 20px;
        justify-content: center;align-items: flex-start;
        flex-direction: column;
        @media screen and (max-width: 400px) {align-items: center;width: 90vw;text-align:center}
        
        span{
            font-weight: 300;font-size: 1rem;
        }

        h1{
            font-weight: 700;font-size: 2.2rem;
        }

        p{
            font-size: 1.5rem;
        }

        button{
            width: 12rem;
            border: solid thin #271A45;
            border-radius: 1rem;
            
            font-size: 0.80rem;
            padding: 0.5rem 1.5rem;
        }
    }
}

/* Feito por Gabriel */